<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ isEditMode ? 'Editar comuna' : 'Nueva comuna' }}
    </mat-card-title>

    <mat-card-subtitle>
      Completa la información de la comuna.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="commune-form" (ngSubmit)="onSubmit()">
      <app-territory-select
        [initialCityId]="commune?.id_city"
        (selectionChange)="onTerritoryChange($event)">
      </app-territory-select>

      <div class="error" *ngIf="f['id_city'].touched && f['id_city'].invalid">
        La ciudad es obligatoria.
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Nombre de la comuna</mat-label>
        <input matInput formControlName="name" placeholder="Ej. Comuna 1 - Atardeceres">
        <mat-error *ngIf="f['name'].hasError('required')">
          El nombre de la comuna es obligatorio.
        </mat-error>
        <mat-error *ngIf="f['name'].hasError('minlength')">
          El nombre debe tener mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="activo">Activa</mat-option>
          <mat-option value="inactivo">Inactiva</mat-option>
        </mat-select>
        <mat-error *ngIf="f['status'].invalid">
          El estado es obligatorio.
        </mat-error>
      </mat-form-field>

      <div class="info-box">
        Se validará que no exista otra comuna con el mismo nombre en la ciudad seleccionada.
      </div>

      <div class="form-actions">
        <button mat-stroked-button type="button" (click)="onCancel()">
          Cancelar
        </button>

        <button mat-flat-button color="primary" type="submit">
          {{ isEditMode ? 'Actualizar comuna' : 'Guardar comuna' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>